<?xml version="1.0"?>
<launch>
  <!-- Spawn joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="turtle_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>

  <!-- Spawn motor_controller node -->
  <!-- <node pkg="robotcar" type="motors.py" name="motor_controller."/> -->
  <node pkg="robotcar" type="joy_simplify.py" name="joy_test_node"/>

  <node name="serial_node"        pkg="rosserial_python"      type="serial_node.py">
    <param name="port"              type="string"               value="/dev/ttyACM0"/>
    <param name="baud"              type="int"                  value="57600"/>
  </node>


</launch>